@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css");

@font-face {
  font-family: "Everett";
  src: url("https://uploads-ssl.webflow.com/6306fba67be473067560d79b/630aa6fa8e18aa5a517c4836_Everett-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Everett";
  src: url("https://uploads-ssl.webflow.com/6306fba67be473067560d79b/630aa6fa3591b547d1739b37_Everett-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Everett";
  src: url("https://uploads-ssl.webflow.com/6306fba67be473067560d79b/630aa6fa94ecc46c1735f155_Everett-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --global-text-color-primary: black;
  --global-navbar-color-primary: white;
  --global-navbar-gray-alpha: black;
}

html {}

body {
  font-family: "Everett";

}

a {
  font-family: "Everett";
}



.logo {
  display: flex;
  justify-content: center;
}

.mobile_navbar_container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  border-bottom: .5px solid rgba(0, 0, 0);
  justify-content: center;
  background: url(/assets/imgs/bg.svg);
background-repeat: repeat;
    border-bottom: .5px solid rgb(0, 0, 0);
}

.mobile_navbar_list {
  padding: 0 .5rem;
  max-width: 62rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.mobile_navbar_list a {
  text-decoration: none;
  color: black;
  opacity: 0.78;
  transition: 100ms ease-in-out opacity;
}

.menu_button {
  cursor: pointer;
}

.mobile_navbar_list a:hover {
  opacity: 1;
}

@media screen and (max-width: 797px) {
  .navbar_container {
    display: none;
  }
}

@media screen and (min-width: 797px) {
  .mobile_navbar_container {
    display: none;
  }

  .searchBar_Container {
    visibility: hidden;
  }

  .logo:hover {
    opacity: 0.89;
  }

  .navbar_container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 30% 40% 30%;
    gap: 1px 1px;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    align-items: stretch;
    width: 100%;
    height: 50%;
    background: url(/assets/imgs/bg.svg);
background-repeat: repeat;
    border-bottom: .5px solid rgb(0, 0, 0);
    height: 3rem;
    font-size: 0.8rem;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav_list_right {
    padding: 0 .5rem;
    max-width: 100%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
  }

  .nav_list_left {
    padding: 0 .5rem;
    max-width: 100%;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
  }

  .nav_list_left_content {
    padding: 0 .5rem;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    width: 100%;

  }

  body>header>nav.navbar_container>div.nav_list_right>ul {
    padding: 0 .5rem;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    width: 100%;

  }

  .nav_list {
    padding: 0 .5rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }

  .nav_list_left_content a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.78;
    transition: 100ms ease-in-out opacity;
  }

  .nav_list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.78;
    transition: 100ms ease-in-out opacity;
    font-weight: 500;
  }

  .nav_list a:hover {
    opacity: 1;
  }
}

/* .mobile_nav_items:first-child {
  height: 20px;
  width: 20px;
} */

.menu_button {
  height: 21px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu_button div {
  opacity: 0.78;
  height: .6px;
  width: 23px;
  background-color: rgb(255, 255, 255);
  transition: 200ms ease-in-out all;
}

.open .line1 {
  /*transform: rotate(45deg) translate(10px, 0px);*/
  transform: translateY(5px) rotate(-45deg);
}

.open .line2 {
  /*transform: rotate(-45deg) translate(7px, 3px);*/
  transform: translateY(-5px) rotate(45deg);
}

.expansionMenu {
  background-color: var(--global-navbar-color-primary);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6.4rem;
  width: 100%;
  height: 0%;
  transition: 400ms ease-in-out height;
  overflow: hidden;
}

.searchBar_Container {
  display: none;
  position: fixed;
  z-index: 4;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3rem;
}

.searchForm {
  display: flex;
  justify-content: center;
  padding-top: .4rem;
}

.searchBar_Container {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid black;
}

.searchFormWrapper {
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255);
  border-radius: 0px;
  height: 2.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100vw;
}


.searchFormWrapper button svg {
  opacity: .7;
}

.searchInput {
  font-family: "Everett";
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0.4rem;
  background-color: transparent;
  border: none;
  width: 80vw;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid grey;

}

.searchInput:focus {
  outline: none;
}

.searchSubmitButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchResetButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: .5;
  display: none;
}

.mobile_item_menu {
  display: flex;
  z-index: 3;
  flex-direction: column;
  padding: 0;

  overflow-y: auto;
  position: absolute;
  top: -.4rem;
  right: 0;
  left: 0;
  bottom: 0;
  list-style-type: none;
}

.mobile_item_menu li {
  border-bottom: 1px solid var(--global-navbar-gray-alpha);
  padding-left: 2rem;
  height: 3rem;
  padding-top: 1rem;
}

.mobile_item_menu li a {
  text-decoration: none;
  color: var(--global-text-color-primary);
  font-family: "Everett";
  font-size: 1.1rem;
}

.subheader {
  background-color: #ffffff00;
  max-width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 3rem;
  width: 100vw;
  border-bottom: 1px solid rgb(255, 255, 255);
}




.subheader__wrapper {
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-top: -.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  height: 2rem;
  padding: 0 .5rem;
  overflow: hidden;
  position: relative;
  width: 100%
}

.subheader__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: .25rem;
  border-right: 1px solid white;
}


.subheader__link {
  font-family: Everett;
  color: rgb(255, 255, 255);
  font-size: .75rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: .03em;
  text-transform: uppercase;

  height: 1.75rem;

  display: inline-flex;

  justify-content: center;

  align-items: center;
  padding: 0 .5rem;
  white-space: nowrap;

  text-decoration: none;

}

.subheader__link:focus {
  outline: none
}


.subheader__link:hover {
  text-decoration: none
}

@media (min-width: 48em) {
  .subheader__link:hover {
    border-color: rgb(255, 255, 255)
  }
}

.subheader__link.subheader__link--active {
  border: 1px solid rgb(255, 255, 255)
}


.grid {
  display: grid;
  grid-gap: .5px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  background: black;
}

@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.product-card {
  background: #ffffff;
  padding-top: 100%;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
}

.product-card>img {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  background: url(assets/imgs/hero_bg.jpg);
  background-size: cover;
  object-fit: cover;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.home-hero-noise {
  width: 100vw;
  height: 100vh;
  background: url(assets/imgs/bg-pattern.png);

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  opacity:.5;
 
    background-position: 0px 0px;
    background-size: 8px;
    position: absolute;
}

.text {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25vh;

}

/* video background 
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
*/
.scrolled {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  stroke: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
}

body > header > nav.navbar_container.chameleon.scrolled > div.nav_list_right > ul > li > a   {
background-color: rgb(255, 255, 255);
border-color: rgb(0, 0, 0);
color: rgb(0, 0, 0);
stroke: rgb(0, 0, 0);
fill: rgb(0, 0, 0);
}

body > header > nav.navbar_container.chameleon.scrolled > div.nav_list_center > ul > li > a > svg  {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  stroke: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
  }
  
  body > header > nav.navbar_container.chameleon.scrolled > div.nav_list_left > ul > li > a   {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    stroke: rgb(0, 0, 0);
    
    }

    body > header > nav.navbar_container.chameleon.scrolled > div.nav_list_left > ul > li > a > svg {
      background-color: rgb(255, 255, 255);
      border-color: rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      stroke: rgb(0, 0, 0);
   
      }

  div.subheader.scrolled {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    stroke: rgb(0, 0, 0);
 
    }


    body > header > nav.navbar_container.chameleon.scrolled > div.nav_list_left > ul > a > svg,  body > header > div.subheader.chameleon.scrolled > ul > li.subheader__item.chameleon > a > svg, body > header > div.subheader.chameleon.scrolled > ul > li, body > header > div.subheader.chameleon.scrolled > ul > li > a {
        background-color: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        stroke: rgb(0, 0, 0);
     
        }

        body > header > nav.navbar_container.chameleon.scrolled > div.nav_list_left > ul > li > a > svg {

        stroke: rgb(0, 0, 0);
      }

      .div-block-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
      }
      

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0
}

.button {
  margin-top: 60px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 16px 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 30px;
  line-height: 0.9;
  letter-spacing: -0.03em;
}

.button:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.button.dark {
  margin-top: 0px;
  border-color: #191919;
  color: #191919;
}

.button.dark:hover {
  background-color: #191919;
  color: #fff;
}

.button.adjust {
  margin-top: 0px;
}

.button.styleb {
  background-color: #fff;
  color: #2a2a2a;
}

      .text-block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        font-size: 8.5vw;
        line-height: 0.95;
        letter-spacing: -0.06em;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
}
      
      
      .text-block.tm {
        padding-top: 0;
        padding-left: 0.5vw;
        font-size: 2vw;
        font-weight: 100;
        color: #fff;

      }

      .submenubar {

      display: grid;
      grid-auto-flow: row dense;
      grid-template-columns: 70% 30%;
      gap: 1px 1px;
      justify-content: space-evenly;
      align-content: center;
      justify-items: center;
      align-items: stretch;
      width: 100vw;
      border-bottom: .5px solid rgb(0, 0, 0);
      background: url(/assets/imgs/bg.svg);
      background-repeat: repeat;
    }

    .leftside {
    left: 0px;
    width: 100%;
    border-bottom: .5px solid rgb(0, 0, 0);
    background: url(/assets/imgs/bg.svg);
    background-repeat: repeat;
  }

  .rightside {
    right: 0px;
    
  }
      .breadcrumbs {
        display: inline-block;
 
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 8px;
       font-weight: 100;
        margin:0;
        padding:0;
        position: fixed;
        top:3rem;
       
      }

      @media screen and (max-width: 797px) {
        .breadcrumbs {
          top:2rem;
        }
      }
      
      .breadcrumbs:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      
      .breadcrumbs ul {
        padding: 0;
        margin: 0;
        list-style: none;
      
      }
      
      .breadcrumbs ul li {
        list-style: none;
        float: left;
      }
      
      .breadcrumbs ul li:first-child a, .breadcrumbs ul li:first-child span {
        padding-left: 1em;
      
      }
      
      .breadcrumbs a, .breadcrumbs span {
        color: rgb(0, 0, 0);
        display: block;
        float: left;
        position: relative;
        line-height: 2.2em;
        padding: 3px 1em 0 1.5em;
        text-decoration: none;
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 8px;
       font-weight: 300;
       letter-spacing: normal;
        
      }
      
      .breadcrumbs a:after, .breadcrumbs span:after {
        content: '';
        display: block;
        z-index: 1;
        height: 2.5em;
        width: 2.5em;
        border-right: .5px solid rgb(0, 0, 0);
        border-top: .5px solid rgb(0, 0, 0);
        position: absolute;
        right: 0;
        top: 0px;
        
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
             -o-box-sizing: border-box;
                box-sizing: border-box;
        
     
        
        /* 1/sqrt(3) = 0.5774 */
        -webkit-transform: translateX(1.2em) rotate(45deg) scale(0.5774) skew(15deg,15deg);
           -moz-transform: translateX(1.2em) rotate(45deg) scale(0.5774) skew(15deg,15deg);
            -ms-transform: translateX(1.2em) rotate(45deg) scale(0.5774) skew(15deg,15deg);
             -o-transform: translateX(1.2em) rotate(45deg) scale(0.5774) skew(15deg,15deg);
                transform: translateX(1.2em) rotate(45deg) scale(0.5774) skew(15deg,15deg);
      }
      
      .breadcrumbs .current {
       
      }
      
      .breadcrumbs .current:after {
        content: normal;
      }

      @media screen and (max-width: 479px) {
        
        .text-block {
          font-size: 11.5vw;
        }
      
        .text-block.tm {
          font-size: 5vw;
        }

        .text-block {
          font-size: 11.5vw;
      }
  
      .text-block.tm {
          font-size: 5vw;
      }
  
      .button {
          margin-top: 20px;
          font-size: 22px;
      }
  
      .button.styleb {
          margin-top: 10px;
      }
  
      .text-03 {
          font-size: 40px;
      }
  
      .waitlist-container {
          padding-top: 60px;
          padding-right: 20px;
          padding-left: 20px;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
      }
  
      .field {
          min-height: 125px;
      }
  
      .form {
          width: 100%;
      }
  
      .link-block {
          margin-top: 10px;
          margin-left: 0px;
      }
  
      .buttons {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
      }
      }

      @font-face {
        font-family: 'Everett';
        src: url('https://uploads-ssl.webflow.com/6306fba67be473067560d79b/630aa6fa8e18aa5a517c4836_Everett-Medium.otf') format('opentype');
        font-weight: 500;
        font-style: normal;
        font-display: auto;
    }
    
    @font-face {
        font-family: 'Everett';
        src: url('https://uploads-ssl.webflow.com/6306fba67be473067560d79b/630aa6fa3591b547d1739b37_Everett-Light.otf') format('opentype');
        font-weight: 300;
        font-style: normal;
        font-display: auto;
    }
    
    @font-face {
        font-family: 'Everett';
        src: url('https://uploads-ssl.webflow.com/6306fba67be473067560d79b/630aa6fa94ecc46c1735f155_Everett-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
        font-display: auto;
    }